/* ===== Primary Styles ========================================================
   Author:  Madiasapiens
   ========================================================================== */
body{
    font-family: 'Actor', sans-serif;
    font-size: 14px;
    color: #000;
    margin-top: 15px;
}
.container{
    overflow: hidden;
}
header{
    display: inline-block;
    width: 100%;
}
header nav{
    float: left;
    height: 55px;
    width: 100%;
    background: #eee;
}
header nav a{
    display: block;
    float: left;
    width: 140px;
    height: 38px;
    text-align: center;
    font-size: 20px;
    padding-top: 17px;
    color: #000;
    text-decoration: none;

}
header nav a.active{
    color: #fff;
    background: #c20029;
}
header nav a.active:hover{
    color: #fff;
}
header nav a:hover{
    text-decoration: underline;
    color: #000;

}
.data_img{
    float: left;
    position: relative;
}
.data_img img{
    width: 906px;
}
.data_img .opacity_t{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 889px;
    background: transparent url("../img/opacity.png") 0 0 repeat-x;
    font-size: 32px;
    height: 45px;
    padding: 28px 0 0 17px;
}
.content_block .title{
    background: #eee;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 6px 0;
}
.content_block{
    margin: 29px 0;
    width: 906px;
}
.g_590{
    width: 590px;
    display: inline-block;
    float: left;
}
.g_280{
    width: 280px;
    margin-right: 30px;
    display: inline-block;
    float: left;
}
.g_280.silver{
    background: #f5f5f5;
    padding: 0 22px 12px 22px;
    width: 236px;
    float: right;
    margin-right: 0;
}
.g_280.silver span{
    margin: 14px 0 0 0;
    display: inline-block;

}
.g_280:last-child{
    margin-right: 0;
    margin-left: 6px;
}
.g_280 img{
    padding: 10px 0;
}
.red_list {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
}
.phone_l {
    list-style: none;
    margin: 19px 0 9px 0;
}
.news{
    float: left;
    width: 100%;
    margin-top: 27px;
}
footer{
    float: left;
    width: 100%;
    border-top: 1px solid #d1d0d0;
}
footer a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid  #7f7f7f;
}
footer a:hover{
    border-bottom: none;
    color: #000;
    text-decoration: none;
}
footer p span{
    color: #c20029;
    margin-left: 15px;
}
.tab-pane{
    min-height: 100px;
}
.form-horizontal{
    padding: 10px 15px;

}
.m_15{
    margin-bottom: 15px;
}
.g_680{
    width: 680px;
}
.form-horizontal .control-group .g_220 {
    float: left;
    width: 220px;
    padding-top: 5px;
    text-align: left;
    color: black;
    display: block;
    margin-bottom: 5px;
}
.form-horizontal .controls_g{
    margin-left: 220px;
}
.form-horizontal .controls_g textarea{
    width: 460px;
    height: 70px;
}
.red{
    color: #c20029;
}
a.title_form{
    font-size: 16px;
    text-decoration: underline;
}
a.title_form:hover{
    text-decoration: none;
}
