<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">

	<!--[if lt IE 9]>
	<script src="js/libs/html5-3.4-respond-1.1.0.min.js"></script>
	<![endif]-->

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="container">
             <header>
                 <nav>
                     <a href="#" class="active">Über uns</a>
                     <a href="#">Trainings</a>
                     <a href="#">Referenzen</a>
                     <a href="#">Presse</a>
                 </nav>
                 <div class="data_img">
                     <img src="img/logo.jpg" alt="Erfolgsfaktor Presse - und Öffentlichkeitsarbeit">
                     <div class="opacity_t">
                         Erfolgsfaktor Presse - und Öffentlichkeitsarbeit
                     </div>
                 </div>
             </header>
    <div class="content_block">

        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#tab_1">Inhouse-Seminare</a></li>
            <li><a href="#tab_2">Offene Seminare</a></li>
            <li><a href="#tab_3">Schülerseminare</a></li>
            <li><a href="#tab_4">Einzelcoaching</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <p>Mit unseren Inhouse-Seminaren entscheiden Sie sich für einen fachlich exzellenten Standard und für
                    zielorientiertes Lernen. Aus der Praxis für die Praxis lautet unser Motto: Kurz, knapp und präzise
                    bringen wir die Seminarinhalte auf den Punkt.  <br>
                    Kleine Seminargruppen und interaktive Lehrmethoden optimieren die Lernerfolge. Mit dem erworbenen
                    Know-how in den Trainings können die Teilnehmer ihre Arbeiten künftig effizienter ausführen.
                    Die Seminare können die Auftraggeber in vielen unternehmenswichtigen Bereichen belegen – auch
                    bauen die Seminare systematisch aufeinander auf:  Vom allgemeinen Basisseminar Kommunikation
                    über Teamarbeit und Kundenorientierung bis zum Zeit- und Stressmanagement wird hier für jeden
                    Anspruch das Geeignete angeboten.  Alle Inhalte werden bedarfsgerecht und bestens vermittelt,
                    denn wenn Unternehmen für  Weiterbildung Geld in die Hand nehmen, soll am Ende der Erfolg stehen. </p>
                <ul class="unstyled">
                    <li><a href="#">Beruflicher Erfolg durch Körpersprache</a></li>
                    <li><a href="#">Das erste Mal Chef/in: Das Zauberwort heißt >Richtig führen< </a></li>
                    <li><a href="#">Die Kommunikation zum Kunden: Mit frischer Kommunikation sich zeitgemäß präsentieren</a></li>
                    <li><a href="#"> Erfolgreich telefonieren</a></li>
                    <li><a href="#">Erfolgsfaktor Presse- und Öffentlichkeitsarbeit</a></li>
                    <li><a href="#">Ihr Fahrplan zu weniger Stress  durch gekonntes Zeitmanagement</a></li>
                    <li><a href="#">Kundenzufriedenheit – Kundenbindung: Unsere Kunden stehen immer im Mittelpunkt</a></li>
                    <li><a href="#">Rhetorik und freie Rede – professionell, sicher und kompetent präsentieren</a></li>
                    <li><a href="#">Teamarbeit</a></li>
                    <li><a href="#">Soziale Kompetenzen/ Soft Skills: verstehen, lernen und trainieren</a></li>
                    <li><a href="#">Integrations- und Synergiemanagement</a></li>
                    <li><a href="#">Was Führungskräfte wissen müssen</a></li>
                </ul>

            </div>
            <div class="tab-pane" id="tab_2">
                <h3>Beruflicher Erfolg durch Körpersprache</h3>
                <p>m Berufsalltag sind nicht nur Können und Belastbarkeit gefragt, sondern vor allem die Fähigkeit zur
                    Kommunikation. Argumente allein führen nicht immer ans Ziel: Entscheidend ist, sich mit seiner
                    ganzen Person glaubhaft einzubringen. Anhand von konkreten Beispielen aus dem Berufsalltag wird
                    gezeigt, wie die Sprache unseres Körpers funktioniert und wie sie gezielt eingesetzt werden kann.
                    So lernen die Teilnehmerinnen und Teilnehmer Signale ihres Gegenübers zu deuten und selbst die richtigen Signale zu setzen.
                </p>

                <p>Das Seminar vermittelt folgende Inhalte
                    <ul>
                    <li>Körpersprache - Der Schlüssel zur Persönlichkeit</li>
                    <li>Körper, Geist und Seele als eine Einheit</li>
                    <li>Das Geheimnis des ersten Eindrucks</li>
                    <li>Distanz und Distanzzonen</li>
                    <li>Ihr Körper lügt nie</li>
                    <li>Soft Skills sind das A und O</li>
                    <li>Stimme, Haltung, Gestik, Mimik</li>
                    <li>Mein Gang, meine Sitzposition, mein Standpunkt</li>
                    </ul>
                </p>
                <a href="#" class="title_form">Anmeldeformular</a>
                <form class="form-horizontal form-actions">
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="input01">Termin</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input01">
                            </div>
                        </div>
                    </div>

                    <legend>Ihr Name</legend>

                    <div class="span4">

                        <div class="control-group">
                            <label class="control-label" for="input02">Anrede</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input02">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input03">Vorname</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input03">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input04">Unternehmen</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input04">
                            </div>
                        </div>
                    </div>
                    <div class="span4">

                        <div class="control-group">
                            <label class="control-label" for="input02">Titel</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input02">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input03">Nachname</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input03">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input04">Position</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input04">
                            </div>
                        </div>
                    </div>
                    <legend>Ihre Kontaktdaten</legend>

                    <div class="span4">

                        <div class="control-group">
                            <label class="control-label" for="input05">E-Mail</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input05">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input06">Faxnummer</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input06">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input07">PLZ</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input07">
                            </div>
                        </div>


                        <label class="checkbox m_15" >
                            <input type="checkbox" name="optionsCheckboxList1" value="option1">
                            Rechnungsstellung zu meinen Händen
                        </label>
                    </div>

                    <div class="span4">

                        <div class="control-group">
                            <label class="control-label" for="input05">Telefonnummer</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input05">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input06">Straße</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input06">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input07">Ort</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input07">
                            </div>
                        </div>

                    </div>
                    <legend> Rechnung an</legend>

                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="input08">Name</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input08">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input09">Straße</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input09">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input091">Ort</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input091">
                            </div>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="input08">Firma</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input08">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input09">PLZ</label>
                            <div class="controls">
                                <input type="text" class="span3" id="input09">
                            </div>
                        </div>
                    </div>

                    <div class="g_680">
                        <div class="control-group">
                            <label class="g_220" for="textarea">Wie haben Sie von uns erfahren? </label>
                            <div class="controls_g">
                                <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
                            </div>
                        </div>
                        <label class="checkbox m_15">
                            <input type="checkbox" name="optionsCheckboxList1" value="option1">
                            Mit dem Absenden der Anmeldung akzeptieren Sie unsere  Teilnahmebedingungen.
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Absenden">
                    <div class="g_680">
                <span class="red"> CreutzburgCOMMUNICATION <br>
            Ute Creutzburg M.A. Agentur für Unternehmenskommunikation, Seminare, Einzelcoaching und PR</span>
                        <ul class="unstyled">
                            <li>Elbchaussee 252</li>
                            <li>22605 Hamburg</li>
                            <li>Fon: 0049 (0) 40 880 990 30</li>
                            <li>Mobil: 0049 (0) 171 48 19 330</li>
                            <li> email: <a href="#">ute.creutzburg@t-online.de</a></li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="tab_3">...</div>
            <div class="tab-pane" id="tab_4">...</div>
        </div>

    </div>

    <footer>
        <p><a href="#">Impressum</a> <span>© CreutzburgCOMMUNICATION</span> | 2012</p>
    </footer>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="js/libs/bootstrap/bootstrap.min.js"></script>
<script src="js/libs/bootstrap/tab.js"></script>
<script src="js/script.js"></script>
</body>
</html>
