<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">

	<!--[if lt IE 9]>
	<script src="js/libs/html5-3.4-respond-1.1.0.min.js"></script>
	<![endif]-->

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="container">
             <header>
                 <nav>
                     <a href="#" class="active">Über uns</a>
                     <a href="#">Trainings</a>
                     <a href="#">Referenzen</a>
                     <a href="#">Presse</a>
                 </nav>
                 <div class="data_img">
                     <img src="img/banner_woman.jpg" alt="Erfolgsfaktor Presse - und Öffentlichkeitsarbeit">
                     <div class="opacity_t">
                         Herzlich Willkommen!
                     </div>
                 </div>
             </header>
    <div class="content_block">
        <div class="g_590">

            <p>Wir führen Seminare, Workshops und Einzelcoachings durch und unterstützen Unternehmen darin,
                Ihre Mitarbeiter bestens  zu qualifizieren. Unser Know-how und die langjährige Erfahrung
                garantieren Ihnen höchste Qualität bei Konzeption, Inhalt, Organisation und Durchführung
                unserer Schulungsmaßnahmen. Zahlreiche Unternehmen vertrauen uns seit vielen Jahren.</p>

            <p>Wir helfen Ihnen mit unseren umfangreichen Kenntnissen, künftig  noch erfolgreicher zu sein,
                egal ob durch unternehmensinterne Trainings, unsere offenen Seminare oder Einzelcoachings.
                Und schließlich choachen wir auch die heranwachsende Generation. </p>

            <p>Durch unsere flexiblen Strukturen und geringen administrativen Kosten ist es uns immer wieder möglich,
                bei Top-Leistung  den Auftraggebern ein  attraktives  Preis-Leistungs-Angebot zu unterbreiten.
                Unsere Seminare sind individuell auf Ihre Wünsche zugeschnitten,
                Ihren Bedarf und Ihren finanziellen Spielraum.<br>
                Testen Sie uns und entwickeln Sie Ihre Fähigkeiten weiter, um anschließend mit Elan, neuen Ideen und
                motiviert den Berufsalltag gekonnt zu meistern! <br>
                Ihr Erfolg liegt uns am Herzen.
            </p>
        </div>
        <div class="g_280 silver">
            <ul class="red_list">
                <li> CreutzburgCOMMUNICATION</li>
                <li>Ute Creutzburg M.A.</li>
                <li>Agentur</li>
                <li>für Unternehmenskommunikation,</li>
                <li>Seminare, Einzelcoaching und PR</li>
            </ul>
            <ul class="phone_l">
                <li>Elbchaussee 252</li>
                <li>22605 Hamburg</li>
                <li>Fon: 0049 (0) 40 880 990 30</li>
                <li>Mobil: 0049 (0) 171 48 19 330</li>
            </ul>
            <span>email: <a href="#">ute.creutzburg@t-online.de</a></span>
            <span>Berufsalltag gekonnt zu meistern! Ihr Erfolg liegt uns am Herzen.</span>
        </div>
        <div class="news">
        <div class="g_280">
            <div class="title">Inhouse-Seminare</div>
            <img src="img/280x125.gif" alt="">

            <p>Mit unseren Inhouse-Seminaren entscheiden Sie sich für einen fachlich exzellenten Standard und für
                zielorientiertes Lernen. Aus der Praxis für die Praxis lautet unser Motto: Kurz, knapp und
                präzise bringen wir die Seminarinhalte auf den Punk</p>
        </div>
        <div class="g_280">
            <div class="title">Inhouse-Seminare</div>
            <img src="img/280x125.gif" alt="">

            <p>Im Berufsalltag sind nicht nur Können und Belastbarkeit gefragt, sondern vor allem die Fähigkeit
                zur Kommunikation. Argumente allein führen nicht immer ans Ziel:
                Entscheidend ist, sich mit seiner ganzen Person glaubhaft einzubringen.</p>
        </div>
        <div class="g_280">
            <div class="title">Erfolgreich telefonieren</div>
            <img src="img/280x125.gif" alt="">

            <p>Ihre Mitarbeiter und Mitarbeiterinnen am Telefon sind Ihre akustische Visitenkarte.
                Die Kommunikation am Telefon prägt die Kompetenz und das Image Ihres Unternehmens.
                Durch professionelles Telefonieren gestalten Sie Ihre Kundenbeziehung aktiv - vom ersten Kontakt bis zur. </p>
        </div>
        </div>
    </div>
    <footer>


        <p><a href="#">Impressum</a> <span>© CreutzburgCOMMUNICATION</span> | 2012</p>


    </footer>
</div>
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
-->

<script src="js/libs/bootstrap/bootstrap.min.js"></script>

<script src="js/script.js"></script>
</body>
</html>
